## OS files
.DS_Store

## Build files
node_modules/
dist/
.parcel-cache/

## Test files
/.test/spec/output
/.test/spec/results
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

## Ignore minimized icons (they are in the html).
/assets/*.min.svg
