.form__message {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 0;
  overflow: hidden;
  position: relative;
  line-height: 1.3;
  color: var(--c-error);
  font-weight: bold;
  will-change: height;
  transition: height 0.3s cubic-bezier(0.4, 0, 0, 1.3);

  .form.--dirty & {
    height: 1rem;
  }

  .form.--valid & {
    height: 0;
  }
}

.form__submit {
  display: flex;
  transition: width 0.3s cubic-bezier(0.4, 0, 0, 1.3);

  .--submitting & {
    color: var(--hover-color);
    outline: 2px solid var(--c-lodge-pink);
    outline-offset: 1px;

    &:before,
    &:after {
      height: calc(100% + (var(--border-width) * 2));
      width: calc(100% + (var(--border-width) * 2));
      visibility: visible;
    }
    &:before {
      transition-delay: 0s, 0s, var(--duration), 0s;
    }
    &:after {
      transition-delay: 0s, 0s, 0s, var(--duration);
    }
  }
}

.form__submitting {
  width: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: width 0.3s cubic-bezier(0.4, 0, 0, 1.3), opacity 0.3s,
    visibility 0.3s;
  will-change: width, opacity, visibility;

  svg {
    --color: var(--c-lodge-pink);
    opacity: 1;
    animation-name: heartbeat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  .--submitting & {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1.4);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1.4);
  }

  87.5% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1.4);
  }
}
