footer#footer-section.u-textCenter
	p.copyright
		| Website design and development by&nbsp;
		a(href="http://tysonzimmerman.com") Zimmees, Inc.
		| &nbsp;&nbsp; Copyright ©2018 &nbsp;
		a(href="http://thelodgeattraverse.com") The Lodge at Traverse Mountain
