// Page Top Section
section#page-top.fair.parallax-bg
	.container
		.fair__content
			.fair__details
				.fair__header
					.fair__top
						h1.logo-main.fair__logo
							a.text-hide(href='//thelodgeattraverse.com')
								| The Lodge at Traverse Mountain, Lehi, Utah.
								img(src="images/logo-910x270.png", alt="The Lodge at Traverse Mountain, Lehi, Utah.")
						.fair__date-and-callout
							.fair__brides-free <strong>FREE</strong> for Bride<br>&amp; Groom
							.fair__date-details
								.fair__date-row
									span.fair__month February
								.fair__date-row
									span.fair__date 08
									span.fair__day-time
										.fair__day Friday
										.fair__time 9-6pm
								.fair__date-row.fair__location Lehi, Utah
					h2.fair__title Bridal Fair Date Night
				.fair__buttons.fair__buttons--two
					a.btn.btn-clear(href="https://docs.google.com/forms/d/e/1FAIpQLSfDC_UFXq5DJ63UST3jDtZRPvvxCPkLAsnNNzxS7uiRSc3pPw/viewform")
						i.fa.fa-venus
						|  Bride Registration
					a.btn.btn-clear(href="https://docs.google.com/forms/d/e/1FAIpQLSdP9UEyPlMWGRJKHrlkc7GUFW22eitKUwtEuti1AmUWdo0d8w/viewform")
						i.fa.fa-info-circle
						|  Vendor Registration
				.fair__info
					h3.fair__heading The Ultimate Wedding Giveaway
					p <strong><a href="//www.instagram.com/the_lodge_at_traverse/">Follow us on Instagram</a></strong> and attend <em>Bridal Fair Date Night</em> to enter <strong>The Ultimate Wedding Giveaway</strong>. Winner will receive a FREE event at The Lodge and thousands of dollars worth of services from participating vendors.
					h3.fair__heading Plus Everything You Need Under One Roof
					p Utah’s best wedding vendors will be at your beckoning call! Plus Waffle Luv, swag bags for the first 100 brides, and other amazing giveaways!
					p.fair__host <strong>Hosted by The Lodge at Traverse Mountain</strong><br>
						| 3940 Traverse Mountain Blvd.<br>
						| Lehi, UT 84003
				.fair__buttons
					a.btn.btn-clear(href="#pricing")
						i.fa.fa-usd
						| Pricing
					a.btn.btn-clear(href='#contact', data-form='reserve')
						i.fa.fa-calendar-o
						| Save a date
					a.btn.btn-clear(href="https://thelodgeattraverse.youcanbook.me")
						i.fa.fa-clock-o
						| Book a Tour
				.social-btn-container
					p
						strong Follow us:
					span.social-btn-box
						a.instagram-btn(href="//www.instagram.com/the_lodge_at_traverse/" title="Visit our Instagram page")
							i.fa.fa-instagram
					span.social-btn-box
						a.facebook-btn(href="//facebook.com/thelodgeattraversemountain" title="Visit our Facebook page")
							i.fa.fa-facebook
					span.social-btn-box
						a.pinterest-btn(href="//www.pinterest.com/traverselodge/" title="Visit our Pinterest site")
							i.fa.fa-pinterest
	.pattern
