// Amenities Section
section#amenities.section-style.parallax-bg
    .container
        h3.section-name
            span The Lodge Amenities
        .box.box-amenities
            i.box-icon.fa.fa-list.u-bgBlue--dark
            .Row.u-textSm
                .Col768-1-3
                    p.u-upper
                        strong What's included:
                    ul
                        li Perfect location at the Point of the Mountain with easy freeway access
                        li Natural stone and wood throughout
                        li Large outdoor patio with breath-taking views
                        li
                            | Gorgeous views of Utah Valley including surrounding Mount Timpanogos and Utah Lake
                        li Large, versatile dance / karaoke / entertainment staging area
                        li Tables &amp; chairs to seat 200+
                        li Full kitchen / caterer's area with serving carts
                        li Bridal room / changing areas
                        li One indoor fireplace with seating area
                        li Three outdoor fireplaces to help enjoy the scenery
                        li Convenient parking
                .Col768-2-3
                    .Row
                        .Col768-1-2
                            p.u-upper
                                strong The Grand Room:
                            p
                                | The Grand Room at The Lodge is perfect for any event: weddings, receptions, ceremonies, parties, luncheons, seminars, business meetings or retreats, or family get togethers.
                            ul
                                li Roomy 2,200 square feet room, flexible for any occasion.
                                li Built in audio / video system
                                li Large 42" flat screen TV
                                li Flexible table / seating arrangements
                                li Built in display shelves
                                li Beautiful fireplace with an intimate seating area
                                li Outdoor balcony with amazing views of Utah valley
                                li Two outdoor fireplaces with room for seating
                                li Easy access to kitchen / catering area
                        .Col768-1-2
                            p.u-upper
                                strong The Board Room:
                            p
                                | Great for business meetings, intimate dinners, small groups, or a movie and entertainment room.
                            ul
                                li 570 square feet conference / entertainment room
                                li Large 16' x 5' custom wood conference table
                                li 10 comfortable executive chairs
                                li Additional seating
                                li Large 64" flat screen TV with DVD player
    .pattern
