.contact__form {
  max-width: 12rem;
  width: 100%;
}

.contact__details {
  max-width: 28rem;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__col-content {
  height: 2.5rem;
  font-size: 1.3em;

  .contact__col:first-of-type & {
    font-size: 1em;
    line-height: 0.75rem;
  }
}

.contact__phone {
  --c-link: var(--c-dark3);

  display: inline-flex;
  align-items: center;

  svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
  }
}

@media (min-width: 780px) {
  .contact__info {
    flex-direction: row;
  }

  .contact__col {
    flex: 50%;
  }
}
