section#faq.section-style.parallax-bg
	.container
		h2.section-name #[span Frequently Asked Questions]
		.faq
			.box.box-faq
				h3.box-title How many guests can The Lodge accommodate?
				.box-content
					p The Lodge has 100 white chairs and 12 round tables on site and available for you to use for your event at no extra charge. You are welcome to rent additional tables and chairs as needed.
					p #[strong Sit down:]<br> The Lodge can comfortably fit twelve (12) round tables with 100 seated guests, and have extra room (depending on your arrangement) for a DJ, gift table, food tables, and/or standing guests.
					p #[strong Ceremony:]<br> For a ceremony style event, we recommend no more than 150 seated guests (without tables), although most ceremonies have fewer than 100. #[em Important: We only provide 100 chairs on site for your event. If you need more than 100, ask us how to rent more.]
					p #[strong Reception:]<br> The number of guests The Lodge can accomodate at any given time for a Reception style event will depend on the layout. Most "come &amp; go" receptions at The Lodge have up to 300 guests throughout the night.

			.box.box-faq
				h3.box-title How long do we have The Lodge for our event?
				.box-content
					p #[strong Monday thru Friday:]<br> The Lodge events shares the facility with tenants. If your event falls on Monday thru Thursday, you have The Lodge from 5pm - 10pm; on Friday you have it until 10:30pm. On these days your event can begin any time after 5:30pm. You also have the the evening prior to your event available for set up to help make the day of your event stress free! If an event falls on the evening prior you will need to wait until they are out to begin set up.
					p #[strong Saturdays:]<br> Saturdays you have the whole day from 9am - 10:30pm for your event.

			.box.box-faq
				h3.box-title Do we have to use specific vendors? Is there a fee to bring in our own?
				.box-content
					p Absolutely not! It’s #[strong your event], so pick whoever makes you happy. Awesome, right? Just remember, the only things we do not allow on the property is smoking and alcohol.
					p Please do check out our #[a(href="#preferred-vendors") recommended vendors], they will make your occasion one to remember!

			.box.box-faq#preferred-vendors
				h3.box-title What vendors do you work with or recommend?
				.box-content
					p We work with some #[strong amazing vendors], please click on the links below to check them out! #[strong Make sure to tell them Ashley at The Lodge sent you!]
					h4.box-subtitle Caterers:
					div.faq-vendor
						a.faq-vendor__logo(href="https://havepartywilltravel.com/" target="_blank")
							img(src="./images/logo__have-party-will-travel.png")
						div.faq-vendor__info
							a.faq-vendor__name(href="https://havepartywilltravel.com/" target="_blank") Have Party Will Travel
							a.btn.btn-dark.btn-lg.u-textLg(href="tel:8012698400")
								i.fa.fa-phone
								span &nbsp;(801) 269-8400
					div.faq-vendor
						a.faq-vendor__logo(href="https://www.utahcatering.com" target="_blank")
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 198.9 92.8" xml:space="preserve"><style type="text/css">.st0{fill:#086B38;}</style><path class="st0" d="M11.2 43c0-0.8-0.4-1.1-1-1.4C8.6 40.7 8 40.2 8 37.1V13.2l11.6 31.7h3l11.9-31.7v23.9c0 3.1-0.7 3.6-2.3 4.5 -0.6 0.3-1 0.6-1 1.4v1.9h13.9V43c0-0.8-0.4-1.1-1-1.4 -1.6-0.9-2.2-1.4-2.2-4.5V14.8c0-3 0.4-3.5 1.9-4.5 0.5-0.3 0.7-0.6 0.7-1.4V7H31.7l-9.3 25.5L13.3 7H0.6V9c0 0.8 0.3 1.1 0.7 1.4 1.4 1 1.9 1.5 1.9 4.5v22.3c0 3.1-0.7 3.6-2.3 4.5 -0.6 0.3-1 0.6-1 1.4v1.9h11.2V43zM54.2 16.9c3.9 3.2 18.3 8.2 41.5-4.2 0 0 2-1 2 0.9v25.5c0 1.5-0.1 2.2-1.4 2.9 -0.6 0.3-1 0.6-1 1.3v1.9h12.1v-1.9c0-0.7-0.4-0.9-1-1.3 -1.4-0.7-1.4-1.4-1.4-2.9l-0.1-38.6c0 0-0.4-1.3-2.7 0.1 -0.4 0.2-18 19.2-40 16.5 -9.8-1.2-10.3-10.1-7.1-10.1 0 0 0.8-0.1 1.4 0.7 0.9 1.2 4 1.3 4.8-0.8 0.8-2.1-1.1-5.4-6.2-4.3C49.7 3.8 48.5 12.2 54.2 16.9zM46.1 38.6c0 4.3 2.7 6.9 7.2 6.9 3 0 5.4-1 7.6-3.2 0.9 2.1 2.6 3.2 4.7 3.2 1.6 0 3.3-0.6 4.8-1.8l-1.1-3.8c-0.5 0.2-0.8 0.2-1.1 0.2 -1.4 0-1.8-1.1-1.8-3.6v-4.6c0-6.8-2.7-9.4-10.3-9.4 -5.3 0-8.4 1.8-8.4 4.6 0 1.7 1.1 2.8 3 2.8 2.3 0 3.5-1.1 3.5-3.1 0-0.2 0-0.4 0-0.5 0.6-0.2 1.1-0.3 1.6-0.3 2.4 0 3.7 1.2 3.7 3.1V30C50.4 30.9 46.1 33.5 46.1 38.6zM59.4 36.6c0 3.3-1 4.9-3.8 4.9 -1.8 0-3-1.2-3-3.1 0-2.6 2.3-4.3 6.8-4.6V36.6zM181.5 29.4c0 4.1 2.7 5.2 7.1 7 3.1 1.2 4.5 1.6 4.5 3.4 0 1.3-1.2 2.2-3.2 2.2 -0.9 0-1.8-0.2-2.9-0.6 0.1-0.6 0.1-1 0.1-1.5 0-2-1.2-3.2-3.2-3.2 -2.1 0-3.4 1.3-3.4 3.2 0 3.6 3.1 5.7 9.2 5.7 5.6 0 9.2-3 9.2-7.4 0-4.3-2.6-5.7-7.5-7.6 -2.9-1.1-4.5-1.4-4.5-3 0-1.1 0.8-1.8 2.3-1.8 0.7 0 1.3 0.1 1.8 0.4 0 0.2-0.1 0.4-0.1 0.6 0 1.8 1.2 2.9 3.1 2.9 1.9 0 3.1-1.2 3.1-3.1 0-2.4-2.6-4-7.1-4C184.8 22.5 181.5 25.3 181.5 29.4z"></path><polygon class="st0" points="191.2 50.6 190.4 48.5 189.6 48.5 189.6 51.4 190.1 51.4 190.1 49.1 191 51.4 191.4 51.4 192.2 49.1 192.2 51.4 192.7 51.4 192.7 48.5 191.9 48.5 "></polygon><polygon class="st0" points="186.7 49 187.6 49 187.6 51.4 188.2 51.4 188.2 49 189.1 49 189.1 48.5 186.7 48.5 "></polygon><path class="st0" d="M156.8 25.9c2 1.1 2.4 1.5 3.3 3.7l5.9 14.5 0 0.2c-0.7 1.5-1.4 2.9-2 4.2 -11.1 0.5-19.8 2.6-27.3 5.6 -6.7-8.9-21-7.7-25.6 0.7 -2.5 4.6 1.8 6 3.4 5.4 2.2-0.8 2.4-2.6 2.3-3.7 -0.1-0.9-0.5-1.7 1-3.2 3.1-2.9 11.2-2.5 15.3 1.6 0.2 0.2 0.3 0.4 0.5 0.5 -9.9 4.4-17.9 10.3-27.5 16 -10.3-4.7-16.9-14-29.2-19.3 -0.1-1.6 0.2-4.2 2.6-5.7 1.8-1.1 2.6-0.8 3.6-0.8 0 0 0 0 0 0 6.6-0.3 11.8-5.3 11.8-11.5 0-2.5-0.9-4.9-2.4-6.8 -0.3-1 0.2-1.3 0.7-1.4 0.2 0 0.3 0 0.5 0 0 0 0 0 0 0l0 0c0.8-0.1 1.5-0.6 1.8-1.3 0.5-1.1-0.2-2.5-1.5-3 -1.3-0.5-2.7 0-3.1 1.1 0 0.1-0.1 0.1-0.1 0.2 -0.1 0.2-0.1 0.4-0.1 0.6 -0.1 1.5-1.4 1-1.7 0.8 0 0 0 0 0 0 -1.9-1.1-4.1-1.7-6.4-1.7 -6.8 0-12.3 5.1-12.3 11.5 0 3.9 2 7.3 5.2 9.3 0 0 0 0 0 0 0.1 0.1 0.8 0.4-0.1 1.2 -2.3 1.9-3.2 4.3-3.6 5.6 -4-1.1-8.5-1.8-13.8-1.9 -43.9-0.6-47.9 46-1.6 44.3 23-0.8 36.4-8.8 48.8-15.9 0.2-0.1 0.4-0.2 0.6-0.3 4.8 1.5 10.3 2.3 16.9 1.7C139 76.9 142.2 65 138.5 57c6.8-2.9 14.6-4.9 24.2-5.5 -2.2 5.1-3.6 9.3-3.6 13.1 0 7.2 4.8 12.7 12.1 13.1 11.2 0.5 20-7.8 17.3-18.8 -1.3-5.2-6.3-10.1-19.1-10.5 0.4-0.9 0.7-1.8 1.1-2.7l6.9-16c0.7-1.6 1.2-2.8 2.5-3.5 0.7-0.4 1.1-0.6 1.1-1.3V23h-9.6V25c0 1.4 2.2 0.9 2.2 2.9 0 0.3-0.1 0.7-0.3 1.1l-3.5 7.9 -3.1-8c-0.2-0.4-0.2-0.8-0.2-1.3 0-1.6 1.8-1.3 1.8-2.5V23h-12.2V25C156.2 25.4 156.5 25.7 156.8 25.9zM82.5 26.3c3.6 0 6.1 3.3 6.1 7.9 0 4.6-2.5 7.6-6 7.6 -3.6 0-5.9-2.9-5.9-7.6C76.7 29.6 78.9 26.3 82.5 26.3zM58.9 88.6c-42.7 3.4-34.3-34.4-1.1-34.7 19.3-0.2 28 13.7 42.9 20.6C88.9 81 78.2 87.1 58.9 88.6zM123.6 74.1c-4.9 0.5-9 0.1-12.6-0.8 8-5.1 15.5-10.6 24.4-14.9C138.4 64.7 134.9 73 123.6 74.1zM168.1 51.4c8.4 0.2 15.8 2.4 17 8.8 2.8 15.8-20.8 17.5-21.3 5.5C163.6 61.1 165.7 56.8 168.1 51.4zM131.8 10.2c1.4 0.7 1.4 1.4 1.4 2.9v32.5h1.9c1.3-1.2 2.2-1.8 3-1.8 1.5 0 4.3 1.8 8.2 1.8 6.3 0 11.2-4.8 11.2-11.5 0-7-4.2-11.4-10.2-11.4 -2.5 0-4.5 0.7-6.8 2.1V7h-9.7v1.9C130.8 9.6 131.2 9.8 131.8 10.2zM140.4 28.6c1.6-1.1 3.1-1.5 4.5-1.5 3 0 5.1 2.5 5.1 7 0 4.5-2.1 7-5.3 7 -1.6 0-3.2-0.5-4.3-1.5V28.6zM119.7 45.5c3.6 0 7-1.3 9.7-3.7 0.9-0.8 1.3-1.4 1.3-1.9 0-0.3-0.2-0.6-0.3-0.7l-1.8-1.9c-2.5 2.5-4.9 3.7-7.5 3.7 -3.9 0-6.2-2.7-6.2-7.7h15.9c0-0.3 0-0.6 0-0.8 0-6.4-4-10.1-10.6-10.1 -7.6 0-12.4 4.8-12.4 11.8C107.7 41 112.5 45.5 119.7 45.5zM119.6 25.8c2.2 0 3.6 1.3 3.8 4h-8C115.8 27.1 117.4 25.8 119.6 25.8zM182.8 19.3c0.2 0.1 0.6 0.2 0.7 0.3 0.6 0.4-1.7 2.5-0.3 2.7 1.4 0.1 4.3-2.5 4.7-3.2 1.4-2.4 0.1-4.7-2.1-5.5 -1.9-0.7-3.8 0.1-4.5 2.1C180.7 17.3 181.3 18.8 182.8 19.3z"></path></svg>
						div.faq-vendor__info
							a.faq-vendor__name(href="https://www.utahcatering.com" target="_blank") Magleby's
							a.btn.btn-dark.btn-lg.u-textLg(href="tel:8016104110")
								i.fa.fa-phone
								span &nbsp;(801) 610-4110
					h4.box-subtitle Wedding Planners:
					div.faq-vendor
						a.faq-vendor__logo.faq-vendor__logo--border(href="https://www.instagram.com/wild_rose_events/" target="_blank")
							img(src="./images/logo__wild-rose-events.png")
						div.faq-vendor__info
							a.faq-vendor__name(href="https://www.instagram.com/wild_rose_events/" target="_blank") Wild Rose Events
							a.btn.btn-dark.btn-lg.u-textLg(href="tel:8018793069")
								i.fa.fa-phone
								span &nbsp;(801) 879-3069
					h4.box-subtitle Cakes:
					div.faq-vendor
						a.faq-vendor__logo(href="https://www.instagram.com/pomelo.cakes/" target="_blank")
							img(src="./images/logo__pomelo-cakes.png")
						div.faq-vendor__info
							a.faq-vendor__name(href="https://www.instagram.com/pomelo.cakes/" target="_blank") Pomelo Cakes
							a.btn.btn-dark.btn-lg.u-textLg(href="tel:8016913315")
								i.fa.fa-phone
								span &nbsp;(801) 691-3315
					div.faq-vendor
						a.faq-vendor__logo.faq-vendor__logo--border(href="http://www.saltcakecity.com/" target="_blank")
							img(src="./images/logo__salt-cake-city.png")
						div.faq-vendor__info
							a.faq-vendor__name(href="http://www.saltcakecity.com/" target="_blank") Salt Cake City
							a.btn.btn-dark.btn-lg.u-textLg(href="mailto:saltcakecity@gmail.com")
								i.fa.fa-paper-plane
								span &nbsp;Send an email
					div.faq-vendor
						a.faq-vendor__logo.faq-vendor__logo--top(href="https://the-cake-alley.business.site/" target="_blank")
							img(src="./images/logo__cake-alley.png")
						div.faq-vendor__info
							a.faq-vendor__name(href="https://the-cake-alley.business.site/" target="_blank") The Cake Alley
							a.btn.btn-dark.btn-lg.u-textLg(href="tel:8019016485")
								i.fa.fa-phone
								span &nbsp;(801) 901-6485
					h4.box-subtitle Videographer:
					div.faq-vendor
						a.faq-vendor__logo.faq-vendor__logo--dark.faq-vendor__logo--fit(href="https://www.royalfoxfilms.com/" target="_blank")
							img(src="./images/logo__royal-fox.png")
						div.faq-vendor__info
							a.faq-vendor__name(href="https://www.royalfoxfilms.com/" target="_blank") Royal Fox Films
							a.btn.btn-dark.btn-lg.u-textLg(href="mailto:royalfoxfilms@gmail.com")
								i.fa.fa-paper-plane
								span &nbsp;Send an email
					h4.box-subtitle Photo Booth:
					div.faq-vendor
						a.faq-vendor__logo(href="http://snaphappy-photobooth.com/" target="_blank")
							img(src="./images/logo__snap-happy-photo-booth.png")
						div.faq-vendor__info
							a.faq-vendor__name(href="http://snaphappy-photobooth.com/" target="_blank") Snap Happy Photo Booth
							a.btn.btn-dark.btn-lg.u-textLg(href="tel:3853551360")
								i.fa.fa-phone
								span &nbsp;(385) 355-1360
					h4.box-subtitle DJs:
					div.faq-vendor
						a.faq-vendor__logo(href="https://www.laughinggravy.com/" target="_blank")
							img(src="./images/logo__laughing-gravy.jpg")
						div.faq-vendor__info
							a.faq-vendor__name(href="https://www.laughinggravy.com/" target="_blank") Laughing Gravy
							a.btn.btn-dark.btn-lg.u-textLg(href="tel:8015665614")
								i.fa.fa-phone
								span &nbsp;(801) 566-5614
					h4.box-subtitle Lighting &amp; Drapery:
					div.faq-vendor
						a.faq-vendor__logo.faq-vendor__logo--light(href="http://moonlightutah.com/" target="_blank")
							img(src="./images/logo__moonlight.jpg")
						div.faq-vendor__info
							a.faq-vendor__name(href="http://moonlightutah.com/" target="_blank") Moonlight Wedding &amp; Event Lighting
							a.btn.btn-dark.btn-lg.u-textLg(href="tel:8012250198")
								i.fa.fa-phone
								span &nbsp;(801) 225-0198
					h4.box-subtitle Rentals:
					div.faq-vendor
						a.faq-vendor__logo.faq-vendor__logo--dark(href="https://www.renteventutah.com/" target="_blank")
							img(src="./images/logo__rent-event-utah.png")
						div.faq-vendor__info
							a.faq-vendor__name(href="https://www.renteventutah.com/" target="_blank") Rent Event Utah
							a.btn.btn-dark.btn-lg.u-textLg(href="tel:8014735886")
								i.fa.fa-phone
								span &nbsp;(801) 473-5886
					h4.box-subtitle Invitations:
					div.faq-vendor
						a.faq-vendor__logo.faq-vendor__logo--fit(href="https://www.cjuliadesign.com/" target="_blank")
							img(src="./images/logo__julia-design.webp")
						div.faq-vendor__info
							a.faq-vendor__name(href="https://www.cjuliadesign.com/" target="_blank") C. Julia Design
							a.btn.btn-dark.btn-lg.u-textLg(href="mailto:c.juliadesign@gmail.com")
								i.fa.fa-paper-plane
								span &nbsp;Send an email
					h4.box-subtitle Calligraphy:
					div.faq-vendor
						a.faq-vendor__logo(href="https://www.instagram.com/thisthat_thatthis/" target="_blank")
							img(src="./images/logo__this-and-that.jpg")
						div.faq-vendor__info
							a.faq-vendor__name(href="https://www.instagram.com/thisthat_thatthis/" target="_blank") This and That
							a.btn.btn-dark.btn-lg.u-textLg(href="tel:6612022858")
								i.fa.fa-phone
								span &nbsp;(661) 202-2858
					h4.box-subtitle Sparklers:
					div.faq-vendor
						a.faq-vendor__logo.faq-vendor__logo--dark(href="https://utahsparklers.com/" target="_blank")
							img(src="./images/logo__utah-sparklers.png")
						div.faq-vendor__info
							a.faq-vendor__name(href="https://utahsparklers.com/" target="_blank") Utah Sparklers
							a.btn.btn-dark.btn-lg.u-textLg(href="tel:8018786190")
								i.fa.fa-phone
								span &nbsp;(801) 878-6190

			.box.box-faq
				h3.box-title What is the deposit to reserve my date?
				.box-content
					p To secure your date, a $500 deposit is required. The deposit is applied to your total balance, which is due at your Final Meeting,(1-2 weeks before your event.

			.box.box-faq
				h3.box-title Can I move my date?
				.box-content
					p Yes! Just as long as your new date is available! If your new date is available you will be charted a $100 administrative fee to make the change. To change your event date:
					ol
						li Check your new date's availability on the event calendar on #[a(href="http://thelodgeattraverse.com") our website];
						li Request your new date #[em in writing];
						li and submit your payment of $100.

			.box.box-faq
				h3.box-title What is the cancellation policy?
				.box-content
					p The deposit is considered non-refundable. However, if we are able to rebook your date we will refund $400, which is your deposit minus a $100 administrative fee. #[em All cancellations must be made in writing.]

			.box.box-faq
				h3.box-title Is smoking or alcohol allowed?
				.box-content
					p We're sorry, smoking and alcohol is not allowed on the property.

			.section-description
				p Do you have a different question? &nbsp;
					a.btn-ask.btn.btn-clear.btn-lg(href='#contact')
						i.fa.fa-question-circle
						| &nbsp; Contact us
	.pattern
