section#faq.section-style.parallax-bg
	.container
		h2.section-name #[span Frequently Asked Questions]
		.faq
			.box.box-faq
				h3.box-title How many guests can The Lodge accommodate?
				.box-content
					p The Lodge has 100 white chairs and 12 round tables on site and available for you to use for your event at no extra charge. You are welcome to rent additional tables and chairs as needed.
					p #[strong Sit down:]<br> The Lodge can comfortably fit twelve (12) round tables with 100 seated guests, and have extra room (depending on your arrangement) for a DJ, gift table, food tables, and/or standing guests.
					p #[strong Ceremony:]<br> For a ceremony style event, we recommend no more than 150 seated guests (without tables), although most ceremonies have fewer than 100. #[em Important: We only provide 100 chairs on site for your event. If you need more than 100, ask us how to rent more.]
					p #[strong Reception:]<br> The number of guests The Lodge can accomodate at any given time for a Reception style event will depend on the layout. Most "come &amp; go" receptions at The Lodge have up to 300 guests throughout the night.

			.box.box-faq
				h3.box-title How long do we have The Lodge for our event?
				.box-content
					p #[strong Monday thru Friday:]<br> The Lodge events shares the facility with tenants. If your event falls on Monday thru Thursday, you have The Lodge from 5pm - 10pm; on Friday you have it until 10:30pm. On these days your event can begin any time after 5:30pm. You also have the the evening prior to your event available for set up to help make the day of your event stress free! If an event falls on the evening prior you will need to wait until they are out to begin set up.
					p #[strong Saturdays:]<br> Saturdays you have the whole day from 9am - 10:30pm for your event.

			.box.box-faq
				h3.box-title Do we have to use specific vendors? Is there a fee to bring in our own?
				.box-content
					p Absolutely not! We work with some #[em amazing] vendors, and we would be happy to share their information with you... but it’s #[strong your event], so pick whoever makes you happy. Again, there is no charge to bring your own vendors in! Awesome, right? Just remember, the only things we do not allow on the property is smoking and alcohol.

			.box.box-faq
				h3.box-title What is the deposit to reserve my date?
				.box-content
					p To secure your date, a $500 deposit is required. The deposit is applied to your total balance, which is due at your Final Meeting,(1-2 weeks before your event.

			.box.box-faq
				h3.box-title Can I move my date?
				.box-content
					p Yes! Just as long as your new date is available! If your new date is available you will be charted a $100 administrative fee to make the change. To change your event date:
					ol
						li Check your new date's availability on the event calendar on #[a(href="http://thelodgeattraverse.com") our website];
						li Request your new date #[em in writing];
						li and submit your payment of $100.

			.box.box-faq
				h3.box-title What is the cancellation policy?
				.box-content
					p The deposit is considered non-refundable. However, if we are able to rebook your date we will refund $400, which is your deposit minus a $100 administrative fee. #[em All cancellations must be made in writing.]

			.box.box-faq
				h3.box-title Is smoking or alcohol allowed?
				.box-content
					p We're sorry, smoking and alcohol is not allowed on the property.

			.section-description
				p Do you have a different question? &nbsp;
					a.btn-ask.btn.btn-clear.btn-lg(href='#contact')
						i.fa.fa-question-circle
						| &nbsp; Contact us
	.pattern
