footer#footer-section.u-textCenter
	p.copyright
		| Website design and development by 
		a(href="http://tysonzimmerman.com") The Zimmee
		| . Copyright ©2016, 
		a(href="http://thelodgeattraverse.com") The Lodge at Traverse Mountain
		| .
