section#pricing.section-style.parallax-bg
    .container
        h2.section-name
            span Pricing
        .pricing
            .box.box--highlighted
                h3.box-title
                    strong Event Packages
                    a.btn.btn-clear.u-textXSm.sp-left(href='#amenities') What's included?
                .Row.Row--sm
                    .Col768-1-4.pricingBox
                        h4.box-title.u-textMd Mon - Wed #[small (5 - 10p)]
                        hr
                        .u-textCenter
                            p
                                span.pricing-new $1,450
                                a.btn.btn-green(data-form='reserve', href='#contact') Reserve a date
                            // <p><a class="btn btn-green" data-form="reserve" href="#contact">Reserve a date</a> <a class="u-textXSm" href="#amenities">What's included?</a></p>
                    .Col768-1-4.pricingBox
                        h4.box-title.u-textMd Thursday #[small (5 - 10p)]
                        hr
                        .u-textCenter
                            p
                                span.pricing-new $1,750
                                a.btn.btn-green(data-form='reserve', href='#contact') Reserve a date
                            // <p><a class="btn btn-green" data-form="reserve" href="#contact">Reserve a date</a> <a class="u-textXSm" href="#amenities">What's included?</a></p>
                    .Col768-1-4.pricingBox
                        h4.box-title.u-textMd Friday #[small (5 - 10:30p)]
                        hr
                        .u-textCenter
                            p
                                span.pricing-new $1,950
                                a.btn.btn-green(data-form='reserve', href='#contact') Reserve a date
                    .Col768-1-4.pricingBox
                        h4.box-title.u-textMd Saturday #[small (9a - 10:30p)]
                        hr
                        .u-textCenter
                            p
                                span.pricing-new $2,250
                                a.btn.btn-green(data-form='reserve', href='#contact') Reserve a date
                            // <p><a class="btn btn-green" data-form="reserve" href="#contact">Reserve a date</a> <a class="u-textXSm" href="#amenities">What's included?</a></p>
                p.pricing-disclaimer.u-textXSm.p-bottom-0 #[strong $500 deposit] required to reserve your date. #[a(data-form='reserve', href='#contact') Reserve yours now!]
                p.pricing-disclaimer.u-textXSm.m-top-0 #[strong Tour hours] are available #[em Monday evenings, by appointment only]. #[a(href='#contact', title='Contact us') Contact us] to schedule a tour.
            .box.box--highlighted.sp-top
                h3.box-title.box-title--soft #[strong Optional Addons] #[small (add to any plan)]
                .box-content.u-clearfix
                    h4.u-upper #[strong Save $250 with DIY]
                    p.u-textLg Ask your event manager about the DIY option to #[strong save $250]!
                    hr
                    h4.u-upper #[strong Decor Rentals ($300 for unlimited decor)]
                    p.u-textLg $300 for unlimited rentals. #[a(href="https://www.facebook.com/pg/thelodgeattraversemountain/photos/?tab=album&album_id=627180557461032") Check out our wide selection of decor rentals] for everything you need to make your day as beautiful as you are.
                    hr
                    h4.u-upper #[strong Custom Wedding Invitations]
                    p.u-textLg We now offer custom wedding invitations! #[a(href="https://www.thelodgeweddinginvites.com/") Check out our cool wedding invitation designs] (or design your own).
            //-         p.section-otherLeft
            //-             span.pricing-new $250 off
            //-         .section-otherRight
            //-             p
            //-                 | You may select the DIY option with any plan. What does DIY mean? This means YOU are in charge of all setup and take down of chairs & tables, as well as all clean up immediately following your event.
            //-                 br
            //-                 a(href="https://docs.google.com/document/d/1bb2TuxeCJP6aN-91CXbe7Pr15BVBREQ7E5Gi23WhWwM/edit?usp=sharing") See the complete DIY checklist
            //-                 | .
            //- .box.box--highlighted.section-other.sp-top
            //-     h3.box-title.box-title--soft Add-On Services
            //-     .box-content.u-clearfix
            //-         p.section-otherLeft
            //-             strong Cleaning service:
            //-         .section-otherRight
            //-             p Unless you choose the DIY option, cleaning services are included.
            //-     hr.mar-none
            //-     .box-content.u-clearfix
            //-         p.section-otherLeft
            //-             strong Tables &amp; chairs:
            //-         .section-otherRight
            //-             p
            //-                 | Tables, table coverings, and chairs are available at
            //-                 strong no additional charge
            //-                 | .
            //-     hr.mar-none
            //-     .box-content.u-clearfix
            //-         p.section-otherLeft
            //-             strong Karaoke / Music DJ:
            //-         .section-otherRight
            //-             p A professional karaoke or music DJ service is available for a discounted fee.
            //-             p
            //-                 a.btn(href='#contact', title='contact us') contact us
            //-                 |  for a quote or more details.
            //-     hr.mar-none
            //-     .box-content.u-clearfix
            //-         p.section-otherLeft
            //-             strong Photographer / Videographer:
            //-         .section-otherRight
            //-             p
            //-                 | Professional photographer and/or videographer services are available for a discounted fee.
            //-             p
            //-                 a.btn(href='#contact', title='contact us') contact us
            //-                 |  for a quote or more details.
            //-     hr.mar-none
            //-     .box-content.u-clearfix
            //-         p.section-otherLeft
            //-             strong Hourly rate:
            //-             |  $250
            //-         .section-otherRight
            //-             p
            //-                 | Hourly rates are available on a case-by-case basis. The Board Room is also rented out separately on a case-by-case basis.
            //-             p
            //-                 a.btn(href='#contact') Contact us
            //-                 |  for more details.
            #amenities.box.box--highlighted.sp-top
                h3.box-title.box-title--soft
                    strong What's included
                    a.btn.btn-clear.sp-left(href="https://drive.google.com/open?id=0Bxb5rGPsTPoJNHVsaFIzem9hQTVoRHJpQmc4azZkTDdlZi00") #[i.fa.fa-map-o] View Floorplan
                .box-content.Row.features
                    .Col768-1-2.pricing-inclusionsCol.spTop-0
                        h4.u-upper
                            strong Inclusions &amp; Amenities
                        p Our packages include everything you need to make your event a memorable one!
                        ul.features-list
                            li #[span.fa.fa-check-square] #[strong Perfect location] at the Point of the Mountain with easy access to the I-15 freeway.
                            li #[span.fa.fa-check-square] #[strong Gorgeous views] of Utah Valley, including surrounding Mount Timpanogos and Utah Lake.
                            li #[span.fa.fa-check-square] #[strong Natural stone and wood] throughout.
                            li #[span.fa.fa-check-square] #[strong Outdoor patio] with breath-taking views.
                            li #[span.fa.fa-check-square] #[strong Beautiful indoor fireplace] with seating area, along with two outdoor fireplaces on the patio.
                            li #[span.fa.fa-check-square] #[strong Warming kitchen / caterer's area] with a serving window that opens to The Grand Room.
                            li #[span.fa.fa-check-square] #[strong The Grand Room] offers a large, versatile dance / karaoke / entertainment staging area.
                            li #[span.fa.fa-check-square] #[strong The Board Room] provides a great space away from the main event for whatever you need. It's a great room for entertaining kids (or adults).
                            li #[span.fa.fa-check-square] #[strong Convenient parking] with extra parking available to the North for larger gatherings.
                            li #[span.fa.fa-check-square] #[strong 12 round tables] (60 inch rounds) for seating, #[strong 4 rectangular tables] (6 feet long) for serving, and #[strong 4 bar-height tables] (32 inch bar heights).
                            li #[span.fa.fa-check-square] Elegant, base #[strong table coverings] included at no charge. #[a(href="http://www.renteventutah.com/category/table-cloths" title="View color options for table coverings") View color samples for table coverings online], or at The Lodge.
                            li #[span.fa.fa-check-square] 100 White vinyl #[strong folding chairs] also included at no charge.
                            li #[span.fa.fa-check-square] #[strong Edison string lights] are available at no extra charge.
                            li #[span.fa.fa-check-square] An #[strong event manager] can help plan your event, help with room arrangement, and will be on call during your event.
                    .Col768-1-2.pricing-inclusionsCol.spTop-0
                        h4.u-upper #[strong The Grand Room]
                        p The Grand Room at The Lodge is perfect for any event: weddings, receptions, parties, luncheons, seminars, business meetings, retreats, or family get togethers.
                        ul.features-list
                            li #[span.fa.fa-check-square] 2,200 square feet with flexible seating layouts.
                            li #[span.fa.fa-check-square] Large 42" flat screen TV.
                            li #[span.fa.fa-check-square] Built in audio / video system.
                            li #[span.fa.fa-check-square] Welcome / greeting area with room for gifts.
                            li #[span.fa.fa-check-square] One indoor, two outdoor fireplaces.
                            li #[span.fa.fa-check-square] Outdoor patio with amazing views of Utah valley.
                        h4.u-upper.sp-top--2x #[strong Bride's Room]
                        p Bride's can now enjoy one of our favorite additions. The Bride's Room is the perfect, cozy space for the Bride to get ready for her special day.
                        ul.features-list
                            li #[span.fa.fa-check-square] Comfortable vanity where Bride can get pampered.
                            li #[span.fa.fa-check-square] Large head-to-toe mirror.
                            li #[span.fa.fa-check-square] Two large windows to bring in the natural light.
                        h4.u-upper.sp-top--2x #[strong The Board Room]
                        p The Board Room is perfect for entertaining children or family, away from the main event. Or an area to stash gifts in. This room is also used for business meetings and intimate luncheons or dinners.
                        ul.features-list
                            li #[span.fa.fa-check-square] 570 square foot conference / entertainment room.
                            li #[span.fa.fa-check-square] Large 64" TV with Netflix.
                            li #[span.fa.fa-check-square] Large 16' x 5' custom wood conference table.
                            li #[span.fa.fa-check-square] 10 comfortable executive chairs.
                            li #[span.fa.fa-check-square] Additional seating.
                p.pricing-disclaimer.u-textXSm #[em #[strong Note:] No alcohol is allowed on building premises.]
        .section-buttons
            p
                a.btn.btn-clear.btn-lg(href='#calendar') #[i.fa.fa-calendar] Availability
                a.btn.btn-clear.btn-primary.btn-lg(href='#contact') #[i.fa.fa-question] Ask a question
                a.btn.btn-clear.btn-secondary.btn-lg(href='#contact', data-form='reserve') #[i.fa.fa-calendar-o] Reserve a Date
    .pattern
