// Page Top Section
section#page-top.section-style.parallax-bg
	.container
		h1.section-name
			a.logo-main.text-hide(href='//thelodgeattraverse.com')
				img(src="images/logo-910x270--dark-bg.png", alt="The Lodge at Traverse Mountain, Lehi, Utah.")
				| The Lodge at Traverse Mountain, Lehi, Utah.
		h2.section-title Check out our new services!
		div.section-description
			div We now offer a #[a(class="u-linkWhite" href="https://www.facebook.com/pg/thelodgeattraversemountain/photos/?tab=album&album_id=627180557461032") wide selection of decor rentals] and #[a(class="u-linkWhite" href="https://www.thelodgeweddinginvites.com/") custom wedding invitations]!
			div
				a.btn.btn-clear(href="#pricing")
					i.fa.fa-usd
					| &nbsp; Services &amp; Pricing
				// a.btn.btn-clear(href='#contact', data-form='reserve') request your date
		.section-buttons
			// <p class="section-buttons-callText"><strong>Call or text:</strong></p>
			p
				a.btn.btn-clear.btn-primary.btn-lg(href='#contact', data-form='reserve')
					i.fa.fa-calendar-o
					| &nbsp; Request your date
				a.btn.btn-clear.btn-secondary.btn-lg(href="https://thelodgeattraverse.youcanbook.me")
					i.fa.fa-clock-o
					| &nbsp; Book a Tour
				// <a class="btn-phone btn btn-clear btn-primary btn-lg" href="tel:3852341406"><i class="fa fa-phone-square"></i> (385) 234-1406</a>
				a.btn-ask.btn.btn-clear.btn-lg(href='#faq')
					i.fa.fa-question-circle
					| &nbsp; Ask a question
		.social-btn-container
			p
				strong Follow us:
			span.social-btn-box
				a.instagram-btn(href="//www.instagram.com/the_lodge_at_traverse/" title="Visit our Instagram page")
					i.fa.fa-instagram
			span.social-btn-box
				a.facebook-btn(href="//facebook.com/thelodgeattraversemountain" title="Visit our Facebook page")
					i.fa.fa-facebook
			span.social-btn-box
				a.pinterest-btn(href="//www.pinterest.com/traverselodge/" title="Visit our Pinterest site")
					i.fa.fa-pinterest
	.pattern
