// About Us Section
section#about.section-style.parallax-bg
    .container
        h2.section-name
            span About The Lodge
        div.youtube.text-center
            <iframe width="640" height="360" src="https://www.youtube.com/embed/qTzc0YBbMaY?ecver=1" frameborder="0" allowfullscreen></iframe>
            //- <iframe width="640" height="360" src="https://www.youtube.com/embed/BC9rjYYMHIU?rel=0" frameborder="0" allowfullscreen></iframe>
        p.section-description
            | The Lodge is conveniently located right off of I-15 behind the Traverse Mountain Outlets shopping center, surrounded by beautiful mountain scenery. The Lodge is the perfect host for any event.
            | #[a.btn.btn-clear.sp-left(href="https://www.facebook.com/thelodgeattraversemountain/photos_stream?tab=photos_albums") See more photos]
        .Row.Row--padded.section-about.m-top-0
            .Col768-1-3.u-flex
                .box.box-weddings
                    h3.box-title
                        i.box-icon.fa.fa-venus-mars.u-bgBlue
                        | Wedding Events
                    .box-content
                        p
                            | Perfect for wedding ceremonies, receptions, showers, dinners, luncheons, and parties.
            .Col768-1-3.u-flex
                .box.box-business
                    h3.box-title
                        i.box-icon.fa.fa-briefcase.u-bgGreen
                        | Business Events
                    .box-content
                        p
                            | Large or small business meetings, seminars, dinners, conferences, parties, or retreats.
            .Col768-1-3.u-flex
                .box.box-family
                    h3.box-title
                        i.box-icon.fa.fa-users.u-bgOrange
                        | Family Events
                    .box-content
                        p
                            | Great for reunions, dinners, luncheons, baptisms, celebrations, and get togethers.
        .section-buttons
            p
                a.btn.btn-primary.btn-clear.btn-lg(href='#pricing')
                    i.fa.fa-usd
                    |  Pricing
                a.btn.btn-clear.btn-secondary.btn-lg(href='#contact', data-form='reserve')
                    i.fa.fa-calendar-o
                    |  Reserve a Date
                a.btn.btn-clear.btn-lg(href='#contact')
                    i.fa.fa-envelope
                    |  Contact
    .pattern
