.footer {
  background-color: var(--c-white, #fff);
  color: var(--c-text-dark, hsl(0, 0%, 6%));
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  height: 3rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  line-height: 1.3;
  text-align: center;

  > div + div {
    margin-top: 0.5rem;
  }

  a:before {
    content: '';
    display: block;
  }
}

@media (min-width: 640px) {
  .footer__content {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .footer__text {
    height: 3rem;
    padding-top: 0.5rem;
    text-align: left;

    > div + div {
      margin-top: 0;
    }

    a:before {
      display: none;
    }
  }
}
