<a
  class="logo"
  href="//thelodgeattraverse.com"
  title="The Lodge at Traverse Mountain, Lehi, Utah"
  ><%- include('the-lodge-logo-dark.svg') %></a
>

<h2 class="section__title">Check out our new services!</h2>
<div class="section__intro txt-shadow">
  We now offer a
  <a
    href="https://www.facebook.com/pg/thelodgeattraversemountain/photos/?tab=album&album_id=627180557461032"
    >wide selection of decor rentals</a
  >!
</div>

<%- include('ctas/main-cta.html', { classes: 'mt-1 at800' }) %>

<h2 class="section__subtitle"><span class="icon"><%- include('warning.svg') %></span> <span>Prices going up February 6th. <a href="#book">Book now!</a></span></h2>

<%- include('follow/follow.html') %>