<div class="follow">
  <h3 class="follow__title">Follow us</h3>

  <div class="d-f gap-0-5">
    <a
      href="//www.instagram.com/the_lodge_at_traverse"
      title="Visit our Instagram page"
      class="btn--alt btn--instagram"
    >
      <%- include('instagram.svg') %>
    </a>
    <a
      href="//facebook.com/thelodgeattraversemountain"
      title="Visit our Facebook page"
      class="btn--alt btn--facebook"
    >
      <%- include('facebook.svg') %>
    </a>
    <a
      href="//www.pinterest.com/traverselodge/"
      title="Visit our Pinterest page"
      class="btn--alt btn--pinterest"
    >
      <%- include('pinterest.svg') %>
    </a>
  </div>
</div>
