---
pageClass: page-home
enableContactFooter: true
---
extends layouts/main

block content
	include components/_section-banner
	//- include components/_section-bridal-fair
	include components/_section-about
	include components/_pricing
	include components/_calendar
