---
pageClass: page-home
enableContactFooter: true
---
extends layouts/main

block content
	//- include components/_section-banner
	include components/_section-bridal-fair-2019
	include components/_section-about
	include components/_pricing
	include components/_faq
	include components/_calendar
