doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge,chrome=1")
        meta(name="p:domain_verify" content="f6e8e9075e3c052f4bcb9a8001f40578")
        title The Lodge at Traverse Mountain - Lehi, Utah | weddings, receptions, parties, luncheons, business meetings, etc.
        meta(name="description" content="The Lodge at Traverse Mountain - Lehi, Utah. Your event center for weddings, luncheons, parties, business meetings, and family parties.")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="image_src" href="http://thelodgeattraverse.com/images/logo-270x1000.png")
        link(rel="image_src" href="http://thelodgeattraverse.com/images/tile-wide.png")
        link(rel="image_src" href="http://thelodgeattraverse.com/images/apple-touch-icon.png")
        link(rel="shortcut icon" type="image/png" href="/favicon.png?v=1")
        link(rel="apple-touch-icon" href="apple-touch-icon.png")

        block stylesheets
            //- link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
            link(href="css/app.min.css" rel="stylesheet")
            link(href="css/app-fonts.min.css" rel="stylesheet")

    body(class=pageClass id=pageId)
        block header
            include ../components/_header

        block content
            h1 Main layout template (with jade)
            p I am the default content block for the <code>main.html.jade</code> layout

        block footer
            if enableContactFooter
                include ../components/_section-contact
            else
                include ../components/_footer

        block scripts
            script(src="js/app.min.js")

            unless disableAnalytics
                script.
                    // Google Analytics: change UA-XXXXX-X to be your site's ID.
                    var domainToTrack = 'thelodgeattraverse.com',
                        analyticsNoTrackCookie = 'analyticsOptedOut',
                        gaId = 'UA-62008992-1';
                    if (document.domain === domainToTrack && !docCookies.hasItem(analyticsNoTrackCookie)) {
                        if ('console' in window) {
                            console.info('Analytics is enabled.');
                        }
                        // Track redirects (with the #domain-redirected hash) [http://digitalmeasure.me/post/46180519905/redirect-analytics-best-practices#method-hash-tag]
                        if (window.location.href.match(/#domain-redirected/i)){
                            window.location = window.location.href.split('#')[0];
                            _gaq.push(['_trackEvent', 'inbound-redirect', 'referral', window.location.href + '?source=' + document.referrer, 1, true]);
                        }
                        // Set up analytics tracking
                        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date; e=o.createElement(i);r=o.getElementsByTagName(i)[0]; e.src='//www.google-analytics.com/analytics.js'; r.parentNode.insertBefore(e,r)}(window,document,'script','ga')); ga('create',gaId,'auto');ga('send','pageview');
                    } else if ('console' in window) {
                        console.info('Analytics is disabled.');
                    }

