hr {
  box-sizing: border-box;
  height: 0;
  margin-top: calc(0.5rem - 1px);
  margin-bottom: 0.5rem;
  overflow: visible;
  border: 0;
  border: var(--c-border, #ccc);
  border-top-width: 1px;
  border-top-style: solid;
}
